alg-algorithm {
    display: none;
}

.algotype-text {
    font-family: Times New Roman;
    font-size: 18px;
}

.algotype-keyword {
    font-weight: bold;
}

.algotype-algorithm-name {
    font-variant: small-caps;
    font-weight: bolder;
}